
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sharada&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    
  }
body{
    background-color: antiquewhite;
}

header{
    background-color: 	#F4A460;
    /* max-width: 1920px; */
    width: 100%;
    padding: 0.520833333%;
    height: 13%;
    text-align: center;
}

#imgLogo{
    width:6vw;
}

.nomeDoPetShop{
    font-family: 'Darumadrop One', cursive;
    font-size: 4vw;
    color: white;
    text-shadow: 5px 2px 1px rgb(163, 163, 163);
    margin-top: 0%;
    margin-left: 1.04px;

}
.logoTexto{
    display: inline-flex;
}

nav{
    min-height:3.7%;
    background-color: rgb(253, 212, 161);
}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    color: chocolate;
    padding: 0.9% 3vw;
    display: inline-block;
    text-decoration: none;
    font-size: 1.7vw;
    font-family: 'Nunito', sans-serif;
}
nav ul li a:hover{
    background-color: #f0a76785;
    border-radius: 5px;
}

nav ul li a img{
    width: 2vw;

}

section{
    font-family: 'Noto Sans Sharada', sans-serif;
    padding: 1.5%;
}
.dica{
    background-color: chocolate;
    color: bisque;
}
.dica h2{
    font-size: 3.2vw;
    font-family: 'Darumadrop One', cursive;
}
.conteudoDica{
    display: inline-block;
    font-size: 1.3vw;
    width: 60%;
    margin: 2vw;
    margin-bottom: 3vw;
}

#dicaImg{
    border-radius: 10px;
    width: 20%;
    display: inline-block;
}
.textoDica{
    margin-left: 1.04%;
    margin-bottom: 1.3%;
}
.promocao{
    background-color: rgb(253, 212, 161);
    color: chocolate;
    height:64.8%;
}
.promocao h2{
    font-size: 3.2vw;
    font-family: 'Darumadrop One', cursive;
}
#racaoGato{
    display: inline-block;
    margin-right: 3.5%;
    margin-left: 3.5%;
    background-color: chocolate;
    width: 25%;
    height: 75%;
    border-radius: 15px;
    color: bisque;
    box-shadow: 8px 2px 10px rgba(146, 66, 9, 0.548);
}
#imgRacaoGat{
    border-radius: 10px;
    width:85%;
}
#racaoGato, #racaogatoP{
    padding: 1.1%;
    padding-bottom: 2%;
    text-align: center;
}
h4{
    font-size: 1.2vw;
}
#ValorAntigo{
    text-decoration: line-through;
    font-size:0.8vw;
}
.button{
    margin-left: 17%;
    width: 50%;
    border-radius: 10px;
}
.button ul{
    list-style: none;
    text-align: center;
}
.button ul li a{
    color: chocolate;
    padding: 8% 8%;
    text-decoration: none;
}
.button ul li a:hover{
    background-color: #fdede085;
    border-radius: 10px;
    color: white;
}
.comprar{
    background-color: bisque;
    font-size: 1.3vw;
    padding: 1%;
    border-radius: 8px;
}
#sessao2{
    background-color: chocolate;
    color: bisque;
    height: 63%;
}
.itemseçao2{
    display: inline-block;
    margin-right: 3.5%;
    margin-left: 3.5%;
    background-color: bisque;
    width: 25%;
    height: 75%;
    border-radius: 15px;
    color: chocolate;
    padding: 1.1%;
    padding-bottom: 2%;
    text-align: center;
}
#imgSeçao2{
    border-radius: 10px;
    width:85%;
}
#H2{
    font-size: 4vw;
    font-family: 'Darumadrop One', cursive;
}
.button2{
    margin-left: 17%;
    margin-right: 17%;
    width: 50%;
    border-radius: 10px;
}
.button2 ul{
    list-style: none;
    text-align: center;
}
.button2 ul li a{
    background-color: chocolate;
    color: bisque;
    padding: 8% 8%;
    text-decoration: none;
}
.button2 ul li a:hover{
    background-color: rgba(210, 105, 30, 0.575);
    border-radius: 10px;
    color: white;
}
.itemseçao2 b{
    font-size: 1.3vw;
}
#roupas{
    font-size: 4vw;
    font-family: 'Darumadrop One', cursive;
    color: chocolate;
}
#servicosImg{
    border-radius: 10px;
    width: 30vw;
    display: inline-block;
}


footer{
    background-color: rgb(104, 51, 14);
    color: white;
    text-align: center;
    padding: 5%;
    font-family: 'Noto Sans Sharada', sans-serif;
    font-size: 1vw;
}
.roupas{
    background-color: bisque;
}